# Git
.git
.gitignore
.gitattributes

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

.github
.venv
pgdata_rulikkk_blog

# Docker
docker-compose.yml
Dockerfile
.docker
.dockerignore